extends ../layout

block content

    h1= user.username
    ul
        li= "id: " + user.id
    ul
        li= "firstname: " + user.firstname
    ul
        li= "username: " + user.username
    ul
        li= "lastname: " + user.lastname

    br
    form(action='/users/' + user.id, method='POST')
      button.btn.btn-primary Delete
    br
    a(href='/users/' + user.id + '/edit') 
      button.btn.btn-primary Edit
